{{ $page := .page }}
{{ $bilder := .bilder }}
{{ if or $bilder $page.Params.citat }}
<div class="galleri__grid">
  {{ range $bilder }}
  {{ $src := .src }}
  {{ $url := "" }}
  {{ if or (hasPrefix $src "http://") (hasPrefix $src "https://") }}
    {{ $url = $src }}
  {{ else }}
    {{ with $page.Resources.GetMatch $src }}{{ $url = .RelPermalink }}{{ end }}
  {{ end }}
  {{ if $url }}
  <figure class="galleri__item">
    <img class="galleri__img" src="{{ $url }}" alt="" loading="lazy">
    {{ with .bildtext }}<figcaption class="galleri__caption">{{ . }}</figcaption>{{ end }}
  </figure>
  {{ end }}
  {{ end }}
  {{ with $page.Params.citat }}
  <blockquote class="galleri__quote">
    <p>{{ . }}</p>
    {{ with $page.Params.citatperson }}<cite>{{ . }}</cite>{{ end }}
  </blockquote>
  {{ end }}
</div>
{{ end }}
