{{ $page := .page }}
{{ $bilder := .bilder }}
{{ if $bilder }}
<div class="galleri__grid">
  {{ range $bilder }}
  {{ $src := .src }}
  {{ $url := "" }}
  {{ if or (hasPrefix $src "http://") (hasPrefix $src "https://") }}
    {{ $url = $src }}
  {{ else }}
    {{ with $page.Resources.GetMatch $src }}{{ $url = .RelPermalink }}{{ end }}
  {{ end }}
  {{ if $url }}
  <figure class="galleri__item">
    <img class="galleri__img" src="{{ $url }}" alt="" loading="lazy">
    {{ with .bildtext }}<figcaption class="galleri__caption">{{ . }}</figcaption>{{ end }}
  </figure>
  {{ end }}
  {{ end }}
</div>
{{ end }}
