{{ $src := .Get "src" }}
{{ $storlekIn := .Get "storlek" | default "medium" }}
{{ $positionIn := .Get "position" | default "center" }}
{{ $alt := .Get "alt" | default "" }}

{{ $storlekar := dict "liten" "small" "medium" "medium" "stor" "large" }}
{{ $positioner := dict "vänster" "left" "center" "center" "höger" "right" }}

{{ $storlek := index $storlekar $storlekIn | default "medium" }}
{{ $position := index $positioner $positionIn | default "center" }}

{{ $url := "" }}
{{ if or (hasPrefix $src "http://") (hasPrefix $src "https://") }}
  {{ $url = $src }}
{{ else }}
  {{ with .Page.Resources.GetMatch $src }}{{ $url = .RelPermalink }}{{ end }}
{{ end }}

{{ if $url }}
<img src="{{ $url }}" alt="{{ $alt }}" class="bild bild--{{ $storlek }} bild--{{ $position }}" loading="lazy">
{{ else }}
{{ warnf "bild-shortcode: hittar ingen bildresurs som matchar %q på sidan %q" $src $.Page.File.Path }}
{{ end }}
